body {
	font-size: 14px;
	min-width: 400px;
}

#title {
	color: #555;
	margin-left: 10px;
}

#pass-title {
	font-weight: bold;
	margin: 20px 0 0 10px;
}

#password {
	border: 1px dashed #ccc;
	background: #f4f4f4;
	padding: 8px 5px;
	margin-left: 10px;
	font-size: 20px;
}

#time {
	color: green;
	font-weight: normal;
}

#time.change {
	color: red;
}

#options {
	margin: 10px;
}
